@model IEnumerable<ShareEdu.Factory.DAL.Models.Employment.DynamicInput>
@{
    ViewData["Title"] = "Display All Dynamic Inputs";
}
<div class="container mt-5">
<h1>Dynamic Inputs</h1>
<p>
    <a asp-action="Create" class="btn btn-outline-primary">Create New</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>Label</th>
            <th>Input Type</th>
            <th>Visible</th>
            <th>Required</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.Label)</td>
                <td>@Html.DisplayFor(modelItem => item.InputType.Name)</td>
                <td>@Html.DisplayFor(modelItem => item.IsVisible)</td>
                <td>@Html.DisplayFor(modelItem => item.IsRequired)</td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-outline-warning">Edit</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-outline-danger">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
</div>