@{
    ViewData["Title"] = "All Categories";
}
@{
    if (TempData["Success"] != null)
    {
        <script type="text/javascript">
            $(document).ready(function () {
                showSuccess('@TempData["Success"]');
            });
        </script>
    }
    else if (TempData["Error"] != null)
    {
        <script type="text/javascript">
            $(document).ready(function () {
                showError('@TempData["Error"]');
            });
        </script>
    }
}
<style>
    #myTable {
        width: 100%;
        border-collapse: collapse;
        font-family: Arial, sans-serif;
        background-color: #ffffff;
        border: 1px solid #dddddd; /* Light border around the table */
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Add subtle shadow for depth */
    }

        #myTable th,
        #myTable td {
            padding: 12px; /* Padding for better spacing */
            text-align: center; /* Center-align text */
            border-bottom: 1px solid #dddddd; /* Bottom border for all cells */
        }

        #myTable th {
            background-color: #f2f2f2; /* Light gray background for header */
            color: #333333; /* Dark text color for header */
            font-weight: bold; /* Bold font for header */
        }

        #myTable tbody tr:nth-child(even) {
            background-color: #f9f9f9; /* Alternate row background color */
        }

        #myTable tbody tr:hover {
            background-color: #f2f2f2; /* Hover background color */
        }

</style>
<section class="section dashboard container-fluid">
    <div class="row">

        <!-- Left side columns -->
        <div class="col-lg-8">
            @model IEnumerable<ShareEdu.Factory.DAL.Models.Products.ProductCategory>

    <h1>Categories</h1>

    <p  class="mb-3">
        <a asp-action="Create" class="btn btn-primary">Create New</a>
    </p>

    <table id="myTable" >
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.NameEn)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.NameAr)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.NameEn)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.NameAr)
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                        <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>

</div>
</div>
</section>