@model IList<ShareEdu.Factory.PL.ViewModels.Auth.ApplicationUserViewModel>

@{
    ViewData["Title"] = "All Users";
}
@{
    if (TempData["Success"] != null)
    {
        <script type="text/javascript">
            $(document).ready(function () {
                showSuccess('@TempData["Success"]');
            });
        </script>
    }
    else if (TempData["Error"] != null)
    {
        <script type="text/javascript">
            $(document).ready(function () {
                showError('@TempData["Error"]');
            });
        </script>
    }
}
<div class="container mt-5">
    @{
        if (User.IsInRole("Admin") || User.IsInRole("Recruitment Officer"))
        {
            <p>
                <a asp-action="AllRoles" class="btn btn-outline-primary">All Roles Here</a>
            </p>
        }
    }


    <style>
        #myTable {
            width: 100%;
            border-collapse: collapse;
            font-family: Arial, sans-serif;
            background-color: #ffffff;
            border: 1px solid #dddddd; /* Light border around the table */
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Add subtle shadow for depth */
        }

            #myTable th,
            #myTable td {
                padding: 12px; /* Padding for better spacing */
                text-align: center; /* Center-align text */
                border-bottom: 1px solid #dddddd; /* Bottom border for all cells */
            }

            #myTable th {
                background-color: #f2f2f2; /* Light gray background for header */
                color: #333333; /* Dark text color for header */
                font-weight: bold; /* Bold font for header */
            }

            #myTable tbody tr:nth-child(even) {
                background-color: #f9f9f9; /* Alternate row background color */
            }

            #myTable tbody tr:hover {
                background-color: #f2f2f2; /* Hover background color */
            }

    </style>
    <h1>All Users</h1>

    <table id="myTable" class="mb-5">
        <thead>
            <tr>
                <th>User Name</th>
                <th>Email</th>
                <th>Current Roles</th>
                <th>Assign Roles</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var user in Model)
            {
                <tr>
                    <td>@user.UserName</td>
                    <td>@user.Email</td>
                    <td>
                        <ul>
                            @foreach (var role in user.Roles)
                            {
                                <li>@role</li>
                            }
                        </ul>
                    </td>
                    <td>
                        <a class="btn btn-outline-info" asp-controller="Role" asp-action="AssignRoles" asp-route-userId="@user.UserId">Assign Role</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
